include *.md
include docs/index.rst
include LICENSE
include requirements.txt
include spkit/__init__.py
include spkit/data/EEG16SecData.pkl

recursive-include spkit *.py
recursive-include spkit *.txt
recursive-include examples *.py
recursive-include examples *.ipynb
recursive-include *.ipynb
recursive-include *.pkl

recursive-exclude * __pycache__
recursive-exclude *.yml
